<!doctype html>
<html>
  <head>
    <title> Vue Basics</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1> Vue Basics </h1>
      <h2> {{title}}</h2>
    </di>

    <script src="./app.js"></script>
  </body>
</html>